In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import sympy as sy

In [2]:
housing_df = pd.read_csv('Housing_Data.csv')

In [3]:
housing_df

       size       price
0   1508.84  500681.128
1   1842.51  494778.992
2   1275.46  458674.256
3   1496.36  454512.760
4   1300.96  444192.008
..      ...         ...
95   681.07  180307.216
96   620.82  175716.480
97   549.69  171795.240
98   525.81  168047.264
99   479.75  154282.128

[100 rows x 2 columns]

In [4]:
housing_df.describe()

              size          price
count   100.000000     100.000000
mean    853.024200  292289.470160
std     297.941951   77051.727525
min     479.750000  154282.128000
25%     643.330000  234280.148000
50%     696.405000  280590.716000
75%    1029.322500  335723.696000
max    1842.510000  500681.128000

In [5]:
housing_df = housing_df.sort_values(by='price')

In [6]:
housing_df.head()

      size       price
99  479.75  154282.128
98  525.81  168047.264
97  549.69  171795.240
96  620.82  175716.480
95  681.07  180307.216

In [7]:
X = sy.Matrix(np.array([[1,479.75],[1,525.81],[1,549.69],[1,620.82],[1,681.07]]))
X

Matrix([
[1.0, 479.75],
[1.0, 525.81],
[1.0, 549.69],
[1.0, 620.82],
[1.0, 681.07]])

In [8]:
y = sy.Matrix(np.array([[154282.13],[168047.26],[171795.24],[175716.48],[180307.22]]))
y

Matrix([
[154282.13],
[168047.26],
[171795.24],
[175716.48],
[180307.22]])

In [9]:
P1 = X.T*X
P1

Matrix([
[    5.0,     2857.14],
[2857.14, 1658069.132]])

In [10]:
P = P1.inv()

In [11]:
Q = X.T*y

In [12]:
A = P*Q
A

Matrix([
[104759.044907648],
[114.223701135314]])

# so, Y = 114.22x + 104759.04

In [13]:
def predict_value(x):
    return 114.22*x + 104759.04

In [14]:
predict_value(3000)

447419.04

In [16]:
SSE = (159556.09-154282.13)**2 + (164817.06-168047.26)**2 + (167544.63-171795.24)**2 + (175669.10-175716.48)**2 + (182550.86-180307.22)**2

In [37]:
SSE

61352696.80769979