In [36]:
from IPython.display import Latex
import pandas as pd
import sympy as sy
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
data = pd.read_csv("HousingData.csv")

In [40]:
data.sort_values(by="price")

    dummy     size       price
99      1   479.75  154282.128
98      1   525.81  168047.264
97      1   549.69  171795.240
96      1   620.82  175716.480
95      1   681.07  180307.216
..    ...      ...         ...
4       1  1300.96  444192.008
3       1  1496.36  454512.760
2       1  1275.46  458674.256
1       1  1842.51  494778.992
0       1  1508.84  500681.128

[100 rows x 3 columns]

In [41]:
# define predictor and target
X = data[['size']] # predictor
y = data['price'] # target

In [42]:
# add a column of ones to X (intercept term)
X = np.hstack((np.ones((X.shape[0], 1)), X))

In [43]:
# calculate theta using normal equation
theta = np.linalg.inv(X.T @ X) @ X.T @ y

In [44]:
# size of the house
size = 3000

# predict price using theta
price = np.array([1, size]).dot(theta)

print("The predicted price for a house with size 3000 sqft is: ${:.2f}".format(price))

The predicted price for a house with size 3000 sqft is: $771448.83