In [4]:
import pandas as pd
df=pd.read_csv('Housing_Data.csv')
df.head()

      size       price
0  1842.51  500681.128
1  1508.84  494778.992
2  1504.75  458674.256
3  1504.75  454512.760
4  1496.36  444192.008

In [6]:
df=df.sort_values(by='price')
df

       size       price
99   479.75  154282.128
98   487.29  168047.264
97   518.38  171795.240
96   525.81  175716.480
95   525.81  180307.216
..      ...         ...
4   1496.36  444192.008
3   1504.75  454512.760
2   1504.75  458674.256
1   1508.84  494778.992
0   1842.51  500681.128

[100 rows x 2 columns]

In [7]:
import numpy as np
import sympy as sy
x = sy.Matrix(np.array([[1,479.75],[1,487.29],[1,518.38],[1,525.81],[1,525.81],[1,549.69],[1,549.8],[1,549.8],[1,549.8],
[1,569.17],[1,570.25],[1,570.89],[1,570.89],[1,575.19],[1,597.9],[1,601.66],[1,617.05],[1,620.71],[1,620.82],[1,622.97],
[1,623.94],[1,633.19],[1,633.19],[1,643.09],[1,643.09],[1,643.41],[1,647.5],[1,647.5],[1,648.29],[1,656.22],[1,656.22],
[1,681.07],[1,681.07],[1,681.07],[1,681.07],[1,681.07],[1,682.26],[1,682.26],[1,682.26],[1,685.48],[1,685.48],
[1,685.48],
[1,685.48],
[1,685.48],
[1,685.48],
[1,690.54],
[1,694.52],
[1,694.52],
[1,694.52],
[1,694.52],
[1,698.29],
[1,698.29],
[1,698.29],
[1,698.29],
[1,698.29],
[1,698.5],
[1,705.29],
[1,727.88],
[1,823.21],
[1,823.21],
[1,827.09],
[1,827.84],
[1,828.16],
[1,857.54],
[1,1009.25],
[1,1009.25],
[1,1009.25],
[1,1010.33],
[1,1021.95],
[1,1021.95],
[1,1021.95],
[1,1021.95],
[1,1021.95],
[1,1027.76],
[1,1028.41],
[1,1032.06],
[1,1037.44],
[1,1060.36],
[1,1060.36],
[1,1071.55],
[1,1103.3],
[1,1122.34],
[1,1183.46],
[1,1188.62],
[1,1205.62],
[1,1207.45],
[1,1236.93],
[1,1275.46],
[1,1283.85],
[1,1300.96],
[1,1334.1],
[1,1334.1],
[1,1334.1],
[1,1379.72],
[1,1496.36],
[1,1496.36],
[1,1504.75],
[1,1504.75],
[1,1508.84],
[1,1842.51]]
))
y=sy.Matrix(np.array([[154282.128],
[168047.264],
[171795.24],
[175716.48],
[180307.216],
[181587.576],
[183459.488],
[190909.056],
[191486.896],
[201778.048],
[204302.976],
[207742.248],
[211724.096],
[211904.536],
[215472.104],
[217468.224],
[218630.608],
[225145.248],
[225451.984],
[225452.32],
[225656.12],
[228313.024],
[228581.528],
[233493.208],
[234178.16],
[234314.144],
[245050.28],
[245747.2],
[248337.6],
[251140.656],
[251188.824],
[251332.592],
[251560.04],
[252460.4],
[255629.16],
[257828.416],
[258637.008],
[262423.504],
[262477.856],
[263311.696],
[265129.064],
[266684.248],
[268125.08],
[269225.92],
[269523.056],
[271726.752],
[271793.312],
[274922.856],
[276875.632],
[279555.096],
[281626.336],
[282683.544],
[285223.176],
[286161.6],
[287350],
[292965.216],
[293044.496],
[294582.944],
[297760.44],
[298170.88],
[298926.496],
[299416.976],
[300061.48],
[301635.728],
[302000.92],
[302393.384],
[303597.216],
[304587.272],
[310045.712],
[310522.592],
[320345.52],
[327252.112],
[330677.128],
[331101.344],
[334938.872],
[338078.168],
[342988.456],
[354512.112],
[355251.2],
[359674.44],
[362519.72],
[365863.936],
[368988.432],
[376253.808],
[382120.152],
[383635.568],
[393069.76],
[395242.096],
[401255.608],
[406852.304],
[408637.816],
[412569.472],
[414682.648],
[418753.008],
[440201.616],
[444192.008],
[454512.76],
[458674.256],
[494778.992],
[500681.128],   
]))

In [8]:
x.T*x

Matrix([
[   100.0,      85302.42],
[85302.42, 81553199.7694]])

In [9]:
p1=x.T*x
p=p1.inv()
x.T*y

Matrix([
[    29228947.016],
[27135364370.5316]])

In [10]:
Q=x.T*y
A=p*Q
A

Matrix([
[78516.7984994268],
[250.605635409374]])

In [12]:
A=sy.Matrix([[78516.7984994268],[250.605635409374]])
A

Matrix([
[78516.7984994268],
[250.605635409374]])

In [13]:
def predict_value(p):
    return 250.605635409374*p+78516.7984994268
predict_value(3000)

830333.7047275488